openapi: 3.0.3
info:
  title: API for Commissioning Events
  description: |
    openAPI configuration file for Commissioning processes in the automotive industry.
    ---
    This is the technical deliverable according to Odette OA03.   
    It provides a framework for interoperable implementations throughout the automotive industry and its partners in the supply chain and IT area.
    For further details, please refer to the above mentioned documents.

    The information objects defined here provide harmonised data structures. 
    They do not, however, provide specific information on mandatory content depending on object type and process context.
    For this information, API service providers should add additional information on validation rules applied to the objects used in the supported operations.   
    This validation can be done in several ways, of course. However, a very simple and straightforward way would be to use semantic validation through schematron techniques on the data received. The output of this validation process can be used as error description in the response, should the validation fail.

    A compliant implementation must support:    


       
    Service providers may, of course, also implement operations still marked as not-implemented (except DELETE operations), as this specification is intended to support a MVP for the moment.
  contact:
    name: ODETTE International Ltd.
    email: 'info@odette.org'
  license:
    name: The specification is published under the General Public License (GPL 3.0)
  version: 0.1.0
servers:
  - url: 'https://api.sample.com/odette/sc/V1'
paths:
  /:
    summary: 'Provides information about the API-Version'
    get:
      tags:
        - 'administrative-services'
      description: Gets the API info object.
      operationId: getAPIInfo
      responses:
        500:
          description: Internal Server Error
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
              example:
                APIName: VDA/ODETTE Transport T+T OpenAPI 3.01 interface
                APIVersion: 1.0.0
                APIReleasedDate: '2021-06-30T17:00:00Z'
                APIDocumentation: 'https://github.com/Odette-International-Ltd/transport-track-and-trace-api'
                APIStatus: DRAFT
  /logisticPackagings:
    get:
      tags:
        - packaging
      summary: 'optional - Retrieves a list of packages in the system'
      description: |
        Get list of packaging IDs
        ---
        Gets the list of logistics packaging IDs stored in the system.
      operationId: getLogisticsPackaging
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - packaging
      summary: 'Optional - Creates a new empty logistics packaging object in the system and returns the ID'
      description: |
        Create logistics packaging
        ---
        Creates a new empty consigment-item object at the system and returns the ID.   
        This operation shall be followed by a PUT command with the complete data set describing the consignment.
      operationId: createConsignmentItem
      responses:
        201:
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          links:
            self:
              operationId: getConsignmentItemByID
              parameters:
                path: $response.headers.Location
            replace:
              operationId: patchConsignmentByID
              parameters:
                path: response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      summary: 'replaces the data of a consignment-item'
      requestBody:
        description: Consignment item data set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsignmentItem'
      responses:
        405:
          description: Method Not Allowed
  /logisticsPackagings/{id}:
    get:
      tags:
        - 'consignment-items'
      summary: 'Mandatory - Gets the details of an identified consignment (identification in path)'
      description: gets the details of an identified consignment
      operationId: getConsignmentItemByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsignmentItem'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          description: Method Not Allowed
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          description: Internal Server Error
    put:
      tags:
        - packaging
      summary: 'Optional - updated the complete resource'
      description: |
        Put consignment item data replaces the complete data set of the resource.
        If a resource with that ID does not exist in the application, an empty object shall be created with the provided identifier and the data from the request will be stored in the system
        in that case, the client must ensure that the consignment item ID (primary key) is globally unique.    
        This can be achieved for instand by using a combimation of a data identifier, issuing agency code (IAC, e.g. OD for ODETTE or UN for D.U.N.S), company identification number CIN issued by aformentioned ageny and a shipment number unique within the boudaries of the identified company.
      operationId: putLogisticsPackaging
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logisticsPackaging'
      responses:
        200:
          description: 'If PUT has been used with an ID that is known in the application (i.e. the resource exists), the system shall replace this resource with the data of the request body and return 200 - OK'
        201:
          description: |
            If PUT has been used with an ID that is not yet stored in the application, the system shall create this resource internally using the provided ID (parameter ident) as key, fill it with the data of the request body and return 201 - created.
            The service consumer (i.e. provider of the data) MUST make sure that the ident is globally unique and cannot cause key violation in the target system.
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            self:
              operationId: getConsignmentItemByID
              parameters:
                path: $response.headers.Location
            edit:
              operationId: patchConsignmentByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        409:
          description: 'Conflict: consignment already exists / duplicate id'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    patch:
      tags:
        - 'consignment-items'
      summary: 'Mandatory - Updates selected fields of the consignment item'
      description: |
        Change a consignment item partially
        ---
        Changes parts of or adds parts to an existing consignment item.
      operationId: patchConsignmentItemByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsignmentItem'
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /supply-chain-events:
    get:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Gets a list of stored transport event IDs'
      description: |
        Get list of transport event IDs
        ---
        Retrieves the list of transport event IDS stored in the system.
      operationId: getTransportEvents
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          $ref: '#/components/responses/408_Timeout'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Creates an empty event object and returns the ID.'
      description: |
        Create an empty transport event object 
        ---
        Creates a new empty transport-event object in the system and returns the ID (primary key)
        This operation shall be followed by a PUT command with the complete data set describing the event.
      operationId: createTransportEvent
      responses:
        201:
          description: Created
          headers:
            Location:
              description: Returns the urn with the ID of the created event object
              required: true
              schema:
                type: string
          links:
            self:
              operationId: getTransportEventById
              parameters:
                ident: $response.headers.Location
            replace:
              operationId: putTransportEventByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        409:
          description: 'Conflict: consignment already exists / duplicate id'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /supply-chain-events/{id}:
    description: |
      Transport Event with ID
      ---
      Provides operations for an individual transport event.
    get:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Returns the details of the identified event.'
      description: Gets the details of the identified transport event.
      operationId: getTransportEventById
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportEvent'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    put:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Updates/replaces the complete data set of the event.'
      description: |
        Provides data of a transport event
        ---
        Provides all relevant data for the identified event. Follows the POST /transport-events which returns the ID (primary key)
      operationId: putTransportEventByID
      parameters:
        - name: ident
          in: path
          description: ID of the transport event
          required: true
          schema:
            type: string
      requestBody:
        description: the transport_event entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransportEvent'
      responses:
        202:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
components:
  schemas:
    logisticsPackaging:
      type: object
      properties:
        LevelCode:
          $ref: '#/components/schemas/PackagingLevelCode'
        TypeCode:
          type: array
          items:
            $ref: '#/components/schemas/PackageTypeCode'
          minItems: 1
        SequenceNumeric:
          $ref: '#/components/schemas/Numeric'
        ID:
          $ref: '#/components/schemas/Identifier'
        PerPackageUnitQuantity:
          type: array
          items:
            $ref: '#/components/schemas/Quantity'
        IncludedPackageID:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
        IncludedTradeLineItem:
          type: array
          items:
            $ref: '#/components/schemas/SupplyChainTradeLineItem'
      required:
        - LevelCode
    supplyChainEvent:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'
        OccurrenceDateTime:
          $ref: '#/components/schemas/DateTime'
        TypeCode:
          $ref: '#/components/schemas/Code'
        Packaging:
          $ref: '#/components/schemas/logisticsPackaging'
        APIMetaData:
          $ref: '#/components/schemas/APIMetaData'
    Info:
      type: object
      properties:
        APIName:
          $ref: '#/components/schemas/Text'
        APIVersion:
          $ref: '#/components/schemas/Text_2'
        APIReleasedDate:
          $ref: '#/components/schemas/Date'
        APIDocumentation:
          $ref: '#/components/schemas/Text_3'
        APIStatus:
          $ref: '#/components/schemas/Text_4'
      required:
        - APIName
        - APIVersion
        - APIReleasedDate
        - APIDocumentation
        - APIStatus
    CreatedResponse:
      type: object
      properties:
        ReturnedID:
          $ref: '#/components/schemas/Identifier_2'
    ErrorList:
      type: object
      properties:
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/Errors'
          minItems: 1
    ReturnList:
      type: object
      properties:
        ID:
          type: array
          items:
            $ref: '#/components/schemas/Identifier_2'
          minItems: 1
    APIMetaData:
      type: object
      properties:
        SenderID:
          $ref: '#/components/schemas/Identifier_3'
        TimeStampDateTime:
          $ref: '#/components/schemas/DateTime'
        GeographicalCoordinate:
          $ref: '#/components/schemas/GeographicalCoordinate'
      required:
        - SenderID
    Code:
      type: object
      properties:
        content:
          type: string
        listAgencyID:
          description: |
            Applicable codes:
            * '1' - CCC (Customs Co-operation Council)
            * '2' - CEC (Commission of the European Communities)
            * '3' - IATA (International Air Transport Association)
            * '4' - ICC (International Chamber of Commerce)
            * '5' - ISO (International Organization for Standardization)
            * '6' - UN/ECE (United Nations - Economic Commission for Europe)
            * '7' - CEFIC (Conseil Europeen des Federations de l'Industrie Chimique)
            * '8' - EDIFICE
            * '9' - GS1
            * '10' - ODETTE
            * '11' - Lloyd's register of shipping
            * '12' - UIC (International union of railways)
            * '13' - ICAO (International Civil Aviation Organization)
            * '14' - ICS (International Chamber of Shipping)
            * '15' - RINET (Reinsurance and Insurance Network)
            * '16' - US, D&B (Dun & Bradstreet Corporation)
            * '17' - S.W.I.F.T.
            * '18' - Conventions on SAD and transit (EC and EFTA)
            * '19' - FRRC (Federal Reserve Routing Code)
            * '20' - BIC (Bureau International des Containeurs)
            * '21' - Assigned by transport company
            * '22' - US, ISA (Information Systems Agreement)
            * '23' - FR, EDITRANSPORT
            * '24' - AU, ROA (Railways of Australia)
            * '25' - EDITEX (Europe)
            * '26' - NL, Foundation Uniform Transport Code
            * '27' - US, FDA (Food and Drug Administration)
            * '28' - EDITEUR (European book sector electronic data interchange group)
            * '29' - GB, FLEETNET
            * '30' - GB, ABTA (Association of British Travel Agencies)
            * '31' - FI, Finish State Railway
            * '32' - PL, Polish State Railway
            * '33' - BG, Bulgaria State Railway
            * '34' - RO, Rumanian State Railway
            * '35' - CZ, Tchechian State Railway
            * '36' - HU, Hungarian State Railway
            * '37' - GB, British Railways
            * '38' - ES, Spanish National Railway
            * '39' - SE, Swedish State Railway
            * '40' - NO, Norwegian State Railway
            * '41' - DE, German Railway
            * '42' - AT, Austrian Federal Railways
            * '43' - LU, Luxembourg National Railway Company
            * '44' - IT, Italian State Railways
            * '45' - NL, Netherlands Railways
            * '46' - CH, Swiss Federal Railways
            * '47' - DK, Danish State Railways
            * '48' - FR, French National Railway Company
            * '49' - BE, Belgian National Railway Company
            * '50' - PT, Portuguese Railways
            * '51' - SK, Slovakian State Railways
            * '52' - IE, Irish Transport Company
            * '53' - FIATA (International Federation of Freight Forwarders Associations)
            * '54' - IMO (International Maritime Organisation)
            * '55' - US, DOT (United States Department of Transportation)
            * '56' - TW, Trade-van
            * '57' - TW, Chinese Taipei Customs
            * '58' - EUROFER
            * '59' - DE, EDIBAU
            * '60' - Assigned by national trade agency
            * '61' - Association Europeenne des Constructeurs de Materiel Aerospatial (AECMA)
            * '62' - US, DIstilled Spirits Council of the United States (DISCUS)
            * '63' - North Atlantic Treaty Organization (NATO)
            * '64' - FR, CLEEP
            * '65' - GS1 France
            * '66' - MY, Malaysian Customs and Excise
            * '67' - MY, Malaysia Central Bank
            * '68' - GS1 Italy
            * '69' - US, National Alcohol Beverage Control Association (NABCA)
            * '70' - MY, Dagang.Net
            * '71' - US, FCC (Federal Communications Commission)
            * '72' - US, MARAD (Maritime Administration)
            * '73' - US, DSAA (Defense Security Assistance Agency)
            * '74' - US, NRC (Nuclear Regulatory Commission)
            * '75' - US, ODTC (Office of Defense Trade Controls)
            * '76' - US, ATF (Bureau of Alcohol, Tobacco and Firearms)
            * '77' - US, BXA (Bureau of Export Administration)
            * '78' - US, FWS (Fish and Wildlife Service)
            * '79' - US, OFAC (Office of Foreign Assets Control)
            * '80' - BRMA/RAA - LIMNET - RINET Joint Venture
            * '81' - RU, (SFT) Society for Financial Telecommunications
            * '82' - NO, Enhetsregisteret ved Bronnoysundregisterne
            * '83' - US, National Retail Federation
            * '84' - DE, BRD (Gesetzgeber der Bundesrepublik Deutschland)
            * '85' - North America, Telecommunications Industry Forum
            * '86' - Assigned by party originating the message
            * '87' - Assigned by carrier
            * '88' - Assigned by owner of operation
            * '89' - Assigned by distributor
            * '90' - Assigned by manufacturer
            * '91' - Assigned by seller or seller's agent
            * '92' - Assigned by buyer or buyer's agent
            * '93' - AT, Austrian Customs
            * '94' - AT, Austrian PTT
            * '95' - AU, Australian Customs Service
            * '96' - CA, Revenue Canada, Customs and Excise
            * '97' - CH, Administration federale des contributions
            * '98' - CH, Direction generale des douanes
            * '99' - CH, Division des importations et exportations, OFAEE
            * '100' - CH, Entreprise des PTT
            * '101' - CH, Carbura
            * '102' - CH, Centrale suisse pour l'importation du charbon
            * '103' - CH, Office fiduciaire des importateurs de denrees alimentaires
            * '104' - CH, Association suisse code des articles
            * '105' - DK, Ministry of taxation, Central Customs and Tax Administration
            * '106' - FR, Direction generale des douanes et droits indirects
            * '107' - FR, INSEE
            * '108' - FR, Banque de France
            * '109' - GB, H.M. Customs & Excise
            * '110' - IE, Revenue Commissioners, Customs AEP project
            * '111' - US, U.S. Customs Service
            * '112' - US, U.S. Census Bureau
            * '113' - GS1 US
            * '114' - US, ABA (American Bankers Association)
            * '116' - US, ANSI ASC X12
            * '117' - AT, Geldausgabeautomaten-Service Gesellschaft m.b.H.
            * '118' - SE, Svenska Bankfoereningen
            * '119' - IT, Associazione Bancaria Italiana
            * '120' - IT, Socieata' Interbancaria per l'Automazione
            * '121' - CH, Telekurs AG
            * '122' - CH, Swiss Securities Clearing Corporation
            * '123' - NO, Norwegian Interbank Research Organization
            * '124' - NO, Norwegian Bankers' Association
            * '125' - FI, The Finnish Bankers' Association
            * '126' - US, NCCMA (Account Analysis Codes)
            * '127' - DE, ARE (AbRechnungs Einheit)
            * '128' - BE, Belgian Bankers' Association
            * '129' - BE, Belgian Ministry of Finance
            * '130' - DK, Danish Bankers Association
            * '131' - DE, German Bankers Association
            * '132' - GB, BACS Limited
            * '133' - GB, Association for Payment Clearing Services
            * '134' - GB, APACS (Association of payment clearing services)
            * '135' - GB, The Clearing House
            * '136' - GS1 UK
            * '137' - AT, Verband oesterreichischer Banken und Bankiers
            * '138' - FR, CFONB (Comite francais d'organ. et de normalisation bancaires)
            * '139' - Universal Postal Union (UPU)
            * '140' - CEC (Commission of the European Communities), DG/XXI-01
            * '141' - CEC (Commission of the European Communities), DG/XXI-B-1
            * '142' - CEC (Commission of the European Communities), DG/XXXIV
            * '143' - NZ, New Zealand Customs
            * '144' - NL, Netherlands Customs
            * '145' - SE, Swedish Customs
            * '146' - DE, German Customs
            * '147' - BE, Belgian Customs
            * '148' - ES, Spanish Customs
            * '149' - IL, Israel Customs
            * '150' - HK, Hong Kong Customs
            * '151' - JP, Japan Customs
            * '152' - SA, Saudi Arabia Customs
            * '153' - IT, Italian Customs
            * '154' - GR, Greek Customs
            * '155' - PT, Portuguese Customs
            * '156' - LU, Luxembourg Customs
            * '157' - NO, Norwegian Customs
            * '158' - FI, Finnish Customs
            * '159' - IS, Iceland Customs
            * '160' - LI, Liechtenstein authority
            * '161' - UNCTAD (United Nations - Conference on Trade And Development)
            * '162' - CEC (Commission of the European Communities), DG/XIII-D-5
            * '163' - US, FMC (Federal Maritime Commission)
            * '164' - US, DEA (Drug Enforcement Agency)
            * '165' - US, DCI (Distribution Codes, INC.)
            * '166' - US, National Motor Freight Classification Association
            * '167' - US, AIAG (Automotive Industry Action Group)
            * '168' - US, FIPS (Federal Information Publishing Standard)
            * '169' - CA, SCC (Standards Council of Canada)
            * '170' - CA, CPA (Canadian Payment Association)
            * '171' - NL, Interpay Girale Services
            * '172' - NL, Interpay Debit Card Services
            * '173' - NO, NORPRO
            * '174' - DE, DIN (Deutsches Institut fuer Normung)
            * '175' - FCI (Factors Chain International)
            * '176' - BR, Banco Central do Brazil
            * '177' - AU, LIFA (Life Insurance Federation of Australia)
            * '178' - AU, SAA (Standards Association of Australia)
            * '179' - US, Air transport association of America
            * '180' - DE, BIA (Berufsgenossenschaftliches Institut fuer Arbeitssicherheit)
            * '181' - Edibuild
            * '182' - US, Standard Carrier Alpha Code (Motor)
            * '183' - US, American Petroleum Institute
            * '184' - AU, ACOS (Australian Chamber of Shipping)
            * '185' - DE, BDI (Bundesverband der Deutschen Industrie e.V.)
            * '186' - US, GSA (General Services Administration)
            * '187' - US, DLMSO (Defense Logistics Management Standards Office)
            * '188' - US, NIST (National Institute of Standards and Technology)
            * '189' - US, DoD (Department of Defense)
            * '190' - US, VA (Department of Veterans Affairs)
            * '191' - IAPSO (United Nations Inter-Agency Procurement Services Office)
            * '192' - Shipper's association
            * '193' - EU, European Telecommunications Informatics Services (ETIS)
            * '194' - AU, AQIS (Australian Quarantine and Inspection Service)
            * '195' - CO, DIAN (Direccion de Impuestos y Aduanas Nacionales)
            * '196' - US, COPAS (Council of Petroleum Accounting Society)
            * '197' - US, DISA (Data Interchange Standards Association)
            * '198' - CO, Superintendencia Bancaria De Colombia
            * '199' - FR, Direction de la Comptabilite Publique
            * '200' - GS1 Netherlands
            * '201' - US, WSSA(Wine and Spirits Shippers Association)
            * '202' - PT, Banco de Portugal
            * '203' - FR, GALIA (Groupement pour l'Amelioration des Liaisons dans l'Industrie Automobile)
            * '204' - DE, VDA (Verband der Automobilindustrie E.V.)
            * '205' - IT, ODETTE Italy
            * '206' - NL, ODETTE Netherlands
            * '207' - ES, ODETTE Spain
            * '208' - SE, ODETTE Sweden
            * '209' - GB, ODETTE United Kingdom
            * '210' - EU, EDI for financial, informational, cost, accounting, auditing and social areas (EDIFICAS) - Europe
            * '211' - FR, EDI for financial, informational, cost, accounting, auditing and social areas (EDIFICAS) - France
            * '212' - DE, Deutsch Telekom AG
            * '213' - JP, NACCS Center (Nippon Automated Cargo Clearance System Operations Organization)
            * '214' - US, AISI (American Iron and Steel Institute)
            * '215' - AU, APCA (Australian Payments Clearing Association)
            * '216' - US, Department of Labor
            * '217' - US, N.A.I.C. (National Association of Insurance Commissioners)
            * '218' - GB, The Association of British Insurers
            * '219' - FR, d'ArvA
            * '220' - FI, Finnish tax board
            * '221' - FR, CNAMTS (Caisse Nationale de l'Assurance Maladie des Travailleurs Salaries)
            * '222' - DK, Danish National Board of Health
            * '223' - DK, Danish Ministry of Home Affairs
            * '224' - US, Aluminum Association
            * '225' - US, CIDX (Chemical Industry Data Exchange)
            * '226' - US, Carbide Manufacturers
            * '227' - US, NWDA (National Wholesale Druggist Association)
            * '228' - US, EIA (Electronic Industry Association)
            * '229' - US, American Paper Institute
            * '230' - US, VICS (Voluntary Inter-Industry Commerce Standards)
            * '231' - Copper and Brass Fabricators Council
            * '232' - GB, Inland Revenue
            * '233' - US, OMB (Office of Management and Budget)
            * '234' - DE, Siemens AG
            * '235' - AU, Tradegate (Electronic Commerce Australia)
            * '236' - US, United States Postal Service (USPS)
            * '237' - US, United States health industry
            * '238' - US, TDCC (Transportation Data Coordinating Committee)
            * '239' - US, HL7 (Health Level 7)
            * '240' - US, CHIPS (Clearing House Interbank Payment Systems)
            * '241' - PT, SIBS (Sociedade Interbancaria de Servicos)
            * '244' - US, Department of Health and Human Services
            * '245' - GS1 Denmark
            * '246' - GS1 Germany
            * '247' - US, HBICC (Health Industry Business Communication Council)
            * '248' - US, ASTM (American Society of Testing and Materials)
            * '249' - IP (Institute of Petroleum)
            * '250' - US, UOP (Universal Oil Products)
            * '251' - AU, HIC (Health Insurance Commission)
            * '252' - AU, AIHW (Australian Institute of Health and Welfare)
            * '253' - AU, NCCH (National Centre for Classification in Health)
            * '254' - AU, DOH (Australian Department of Health)
            * '255' - AU, ADA (Australian Dental Association)
            * '256' - US, AAR (Association of American Railroads)
            * '257' - ECCMA (Electronic Commerce Code Management Association)
            * '258' - JP, Japanese Ministry of Transport
            * '259' - JP, Japanese Maritime Safety Agency
            * '260' - ebIX (European forum for energy Business Information eXchange)
            * '261' - EEG7, European Expert Group 7 (Insurance)
            * '262' - DE, GDV (Gesamtverband der Deutschen Versicherungswirtschaft e.V.)
            * '263' - CA, CSIO (Centre for Study of Insurance Operations)
            * '264' - FR, AGF (Assurances Generales de France)
            * '265' - SE, Central bank
            * '266' - US, DoA (Department of Agriculture)
            * '267' - RU, Central Bank of Russia
            * '268' - FR, DGI (Direction Generale des Impots)
            * '269' - GRE (Reference Group of Experts)
            * '270' - Concord EDI group
            * '271' - InterContainer InterFrigo
            * '272' - Joint Automotive Industry agency
            * '273' - CH, SCC (Swiss Chambers of Commerce)
            * '274' - ITIGG (International Transport Implementation Guidelines Group)
            * '275' - ES, Banco de España
            * '276' - Assigned by Port Community
            * '277' - BIGNet (Business Information Group Network)
            * '278' - Eurogate
            * '279' - NL, Graydon
            * '280' - FR, Euler
            * '281' - GS1 Belgium and Luxembourg
            * '282' - DE, Creditreform International e.V.
            * '283' - DE, Hermes Kreditversicherungs AG
            * '284' - TW, Taiwanese Bankers' Association
            * '285' - ES, Asociación Española de Banca
            * '286' - SE, TCO (Tjänstemännes Central Organisation)
            * '287' - DE, FORTRAS (Forschungs- und Entwicklungsgesellschaft für Transportwesen GMBH)
            * '288' - OSJD (Organizacija Sotrudnichestva Zeleznih Dorog)
            * '289' - JP,JIPDEC/ECPC  (Japan Information Processing Development Center / Electronic Commerce Promotion Center)
            * '290' - JP, JAMA
            * '291' - JP, JAPIA
            * '292' - FI, TIEKE The Information Technology Development Centre of Finland
            * '293' - DE, BDEW (Bundesverband der Energie- und Wasserwirtschaft e.V.)
            * '294' - GS1 Austria
            * '295' - AU, Australian Therapeutic Goods Administration
            * '296' - ITU (International Telecommunication Union)
            * '297' - IT, Ufficio IVA
            * '298' - GS1 Spain
            * '299' - BE, Seagha
            * '300' - SE, Swedish International Freight Association
            * '301' - DE, BauDatenbank GmbH
            * '302' - DE, Bundesverband des Deutschen Textileinzelhandels e.V.
            * '303' - GB, Trade Service Information Ltd (TSI)
            * '304' - DE, Bundesverband Deutscher Heimwerker-, Bau- und Gartenfachmaerkte e.V.
            * '305' - ETSO (European Transmission System Operator)
            * '306' - SMDG (Ship-planning Message Design Group)
            * '307' - JP, Ministry of Justice
            * '309' - JP, JASTPRO (Japan Association for Simplification of International Trade Procedures)
            * '310' - DE, SAP AG (Systeme, Anwendungen und Produkte)
            * '311' - JP, TDB (Teikoku Databank, Ltd.)
            * '312' - FR, AGRO EDI EUROPE
            * '313' - FR, Groupement National Interprofessionnel des Semences et Plants
            * '314' - OAGi (Open Applications Group, Incorporated)
            * '315' - US, STAR (Standards for Technology in Automotive Retail)
            * '316' - GS1 Finland
            * '317' - GS1 Brazil
            * '318' - IETF (Internet Engineering Task Force)
            * '319' - FR, GTF
            * '320' - DK, Danish National IT and Telcom Agency (ITA)
            * '321' - EASEE-Gas (European Association for the Streamlining of Energy Exchange for gas)
            * '322' - IS, ICEPRO
            * '323' - PROTECT
            * '324' - GS1 Ireland
            * '325' - GS1 Russia
            * '326' - GS1 Poland
            * '327' - GS1 Estonia
            * '328' - Assigned by ultimate recipient of the message
            * '329' - Assigned by loading dock operator
            * '330' - Nordic Ediel Group
            * '331' - US, Agricultural Marketing Service (AMS)
            * '332' - DE, DVGW Service & Consult GmbH
            * '333' - US, Animal and Plant Health Inspection Service (APHIS)
            * '334' - US, Bureau of Labor Statistics (BLS)
            * '335' - US, Bureau of Transportation Statistics (BTS)
            * '336' - US, Customs and Border Protection (CBP)
            * '337' - US, Center for Disease Control (CDC)
            * '338' - US, Consumer Product Safety Commission (CPSC)
            * '339' - US, Directorate of Defense Trade Controls (DDTC)
            * '340' - US, Environmental Protection Agency (EPA)
            * '341' - US, Federal Aviation Administration (FAA)
            * '342' - US, Foreign Agriculture Service (FAS)
            * '343' - US, Federal Motor Carrier Safety Administration (FMCSA)
            * '344' - US, Food Safety Inspection Service (FSIS)
            * '345' - US, Foreign Trade Zones Board (FTZB)
            * '346' - US, The Grain Inspection, Packers and Stockyards Administration (GIPSA)
            * '347' - US, Import Administration (IA)
            * '348' - US, Internal Revenue Service (IRS)
            * '349' - US, International Trade Commission (ITC)
            * '350' - US, National Highway Traffic Safety Administration (NHTSA)
            * '351' - US, National Marine Fisheries Service (NMFS)
            * '352' - US, Office of Fossil Energy (OFE)
            * '353' - US, Office of Foreign Missions (OFM)
            * '354' - US, Bureau of Oceans and International Environmental and Scientific Affairs (OES)
            * '355' - US, Office of Naval Intelligence (ONI)
            * '356' - US, Pipeline and Hazardous Materials Safety Administration (PHMSA)
            * '357' - US, Alcohol and Tobacco Tax and Trade Bureau (TTB)
            * '358' - US, Army Corp of Engineers (USACE)
            * '359' - US, Agency for International Development (USAID)
            * '360' - US, Coast Guard (USCG)
            * '361' - US, Office of the United States Trade Representative (USTR)
            * '362' - International Commission for the Conservation of Atlantic Tunas (ICCAT)
            * '363' - Inter-American Tropical Tuna Commission (IATTC)
            * '364' - Commission for the Conservation of Southern Bluefin Tuna (CCSBT)
            * '365' - Indian Ocean Tuna Commission (IOTC)
            * '366' - International Botanical Congress
            * '367' - International Commission on Zoological Nomenclature
            * '368' - International Society for Horticulture Science
            * '369' - Chemical Abstract Service (CAS)
            * '370' - Social Security Administration (SSA)
            * '371' - INMARSAT
            * '372' - Agent of ship at the intended port of arrival
            * '373' - US Air Force
            * '374' - US, Bureau of Explosives
            * '375' - Basel Convention Secretariat
            * '376' - PANTONE
            * '377' - IS, National Registry of Iceland
            * '378' - IS, Internal Revenue Directorate of Iceland
            * '379' - IANA (Internet Assigned Numbers Authority)
            * '380' - Korea Customs Service
            * '381' - Israel Tax Authority
            * '382' - Israeli Ministry of Interior
            * '383' - FR, LUMD (Logistique Urbaine Mutualisée Durable)
            * '384' - DE, BiPRO (Brancheninitiative Prozessoptimierung)
            * '385' - JO, Jordan Ministry of Agriculture
            * '386' - JO, Jordan Customs
            * '387' - JO, Jordan Food & Drug Administration
            * '388' - JO, Jordan Institution for Standards and Metrology
            * '389' - JO, Jordan Telecommunication Regulatory Commission
            * '390' - JO, Jordan Nuclear Regulatory Commission
            * '391' - JO, Jordan Ministry of Environment
            * '392' - Hazardous waste collector
            * '393' - Hazardous waste generator
            * '394' - Marketing agent
            * '395' - BE, TELEBIB Centre
            * '396' - BE, BNB
            * '397' - BE, FSMA
            * '398' - FR, PHAST
            * '399' - EXIS (Exis Technologies Ltd.)
            * '400' - FAO (Food and Agriculture Organisation)
            * '401' - CH, Spedlogswiss
            * '402' - JP, National Tax Agency
            * '403' - Comite Européen de Normalisation
            * '404' - Assigned by logistics service provider
            * '405' - Assigned by transport ministry
            * '406' - AR, Customs Administration of Argentina
            * '407' - BO, Customs Administration of Bolivia
            * '408' - BR, Customs Administration of Brazil
            * '409' - PY, Customs Administration of Paraguay
            * '410' - UY, Customs Administration of Uruguay
            * '411' - VE, Customs Administration of Venezuela
            * '412' - IN, Customs Administration of India
            * '413' - JP, JEC (UN/CEFACT Japan Committee)
            * 'ZZZ' - Mutually defined
          enum:
            - '1'  # CCC (Customs Co-operation Council)
            - '2'  # CEC (Commission of the European Communities)
            - '3'  # IATA (International Air Transport Association)
            - '4'  # ICC (International Chamber of Commerce)
            - '5'  # ISO (International Organization for Standardization)
            - '6'  # UN/ECE (United Nations - Economic Commission for Europe)
            - '7'  # CEFIC (Conseil Europeen des Federations de l'Industrie Chimique)
            - '8'  # EDIFICE
            - '9'  # GS1
            - '10'  # ODETTE
            - '11'  # Lloyd's register of shipping
            - '12'  # UIC (International union of railways)
            - '13'  # ICAO (International Civil Aviation Organization)
            - '14'  # ICS (International Chamber of Shipping)
            - '15'  # RINET (Reinsurance and Insurance Network)
            - '16'  # US, D&B (Dun & Bradstreet Corporation)
            - '17'  # S.W.I.F.T.
            - '18'  # Conventions on SAD and transit (EC and EFTA)
            - '19'  # FRRC (Federal Reserve Routing Code)
            - '20'  # BIC (Bureau International des Containeurs)
            - '21'  # Assigned by transport company
            - '22'  # US, ISA (Information Systems Agreement)
            - '23'  # FR, EDITRANSPORT
            - '24'  # AU, ROA (Railways of Australia)
            - '25'  # EDITEX (Europe)
            - '26'  # NL, Foundation Uniform Transport Code
            - '27'  # US, FDA (Food and Drug Administration)
            - '28'  # EDITEUR (European book sector electronic data interchange group)
            - '29'  # GB, FLEETNET
            - '30'  # GB, ABTA (Association of British Travel Agencies)
            - '31'  # FI, Finish State Railway
            - '32'  # PL, Polish State Railway
            - '33'  # BG, Bulgaria State Railway
            - '34'  # RO, Rumanian State Railway
            - '35'  # CZ, Tchechian State Railway
            - '36'  # HU, Hungarian State Railway
            - '37'  # GB, British Railways
            - '38'  # ES, Spanish National Railway
            - '39'  # SE, Swedish State Railway
            - '40'  # NO, Norwegian State Railway
            - '41'  # DE, German Railway
            - '42'  # AT, Austrian Federal Railways
            - '43'  # LU, Luxembourg National Railway Company
            - '44'  # IT, Italian State Railways
            - '45'  # NL, Netherlands Railways
            - '46'  # CH, Swiss Federal Railways
            - '47'  # DK, Danish State Railways
            - '48'  # FR, French National Railway Company
            - '49'  # BE, Belgian National Railway Company
            - '50'  # PT, Portuguese Railways
            - '51'  # SK, Slovakian State Railways
            - '52'  # IE, Irish Transport Company
            - '53'  # FIATA (International Federation of Freight Forwarders Associations)
            - '54'  # IMO (International Maritime Organisation)
            - '55'  # US, DOT (United States Department of Transportation)
            - '56'  # TW, Trade-van
            - '57'  # TW, Chinese Taipei Customs
            - '58'  # EUROFER
            - '59'  # DE, EDIBAU
            - '60'  # Assigned by national trade agency
            - '61'  # Association Europeenne des Constructeurs de Materiel Aerospatial (AECMA)
            - '62'  # US, DIstilled Spirits Council of the United States (DISCUS)
            - '63'  # North Atlantic Treaty Organization (NATO)
            - '64'  # FR, CLEEP
            - '65'  # GS1 France
            - '66'  # MY, Malaysian Customs and Excise
            - '67'  # MY, Malaysia Central Bank
            - '68'  # GS1 Italy
            - '69'  # US, National Alcohol Beverage Control Association (NABCA)
            - '70'  # MY, Dagang.Net
            - '71'  # US, FCC (Federal Communications Commission)
            - '72'  # US, MARAD (Maritime Administration)
            - '73'  # US, DSAA (Defense Security Assistance Agency)
            - '74'  # US, NRC (Nuclear Regulatory Commission)
            - '75'  # US, ODTC (Office of Defense Trade Controls)
            - '76'  # US, ATF (Bureau of Alcohol, Tobacco and Firearms)
            - '77'  # US, BXA (Bureau of Export Administration)
            - '78'  # US, FWS (Fish and Wildlife Service)
            - '79'  # US, OFAC (Office of Foreign Assets Control)
            - '80'  # BRMA/RAA - LIMNET - RINET Joint Venture
            - '81'  # RU, (SFT) Society for Financial Telecommunications
            - '82'  # NO, Enhetsregisteret ved Bronnoysundregisterne
            - '83'  # US, National Retail Federation
            - '84'  # DE, BRD (Gesetzgeber der Bundesrepublik Deutschland)
            - '85'  # North America, Telecommunications Industry Forum
            - '86'  # Assigned by party originating the message
            - '87'  # Assigned by carrier
            - '88'  # Assigned by owner of operation
            - '89'  # Assigned by distributor
            - '90'  # Assigned by manufacturer
            - '91'  # Assigned by seller or seller's agent
            - '92'  # Assigned by buyer or buyer's agent
            - '93'  # AT, Austrian Customs
            - '94'  # AT, Austrian PTT
            - '95'  # AU, Australian Customs Service
            - '96'  # CA, Revenue Canada, Customs and Excise
            - '97'  # CH, Administration federale des contributions
            - '98'  # CH, Direction generale des douanes
            - '99'  # CH, Division des importations et exportations, OFAEE
            - '100'  # CH, Entreprise des PTT
            - '101'  # CH, Carbura
            - '102'  # CH, Centrale suisse pour l'importation du charbon
            - '103'  # CH, Office fiduciaire des importateurs de denrees alimentaires
            - '104'  # CH, Association suisse code des articles
            - '105'  # DK, Ministry of taxation, Central Customs and Tax Administration
            - '106'  # FR, Direction generale des douanes et droits indirects
            - '107'  # FR, INSEE
            - '108'  # FR, Banque de France
            - '109'  # GB, H.M. Customs & Excise
            - '110'  # IE, Revenue Commissioners, Customs AEP project
            - '111'  # US, U.S. Customs Service
            - '112'  # US, U.S. Census Bureau
            - '113'  # GS1 US
            - '114'  # US, ABA (American Bankers Association)
            - '116'  # US, ANSI ASC X12
            - '117'  # AT, Geldausgabeautomaten-Service Gesellschaft m.b.H.
            - '118'  # SE, Svenska Bankfoereningen
            - '119'  # IT, Associazione Bancaria Italiana
            - '120'  # IT, Socieata' Interbancaria per l'Automazione
            - '121'  # CH, Telekurs AG
            - '122'  # CH, Swiss Securities Clearing Corporation
            - '123'  # NO, Norwegian Interbank Research Organization
            - '124'  # NO, Norwegian Bankers' Association
            - '125'  # FI, The Finnish Bankers' Association
            - '126'  # US, NCCMA (Account Analysis Codes)
            - '127'  # DE, ARE (AbRechnungs Einheit)
            - '128'  # BE, Belgian Bankers' Association
            - '129'  # BE, Belgian Ministry of Finance
            - '130'  # DK, Danish Bankers Association
            - '131'  # DE, German Bankers Association
            - '132'  # GB, BACS Limited
            - '133'  # GB, Association for Payment Clearing Services
            - '134'  # GB, APACS (Association of payment clearing services)
            - '135'  # GB, The Clearing House
            - '136'  # GS1 UK
            - '137'  # AT, Verband oesterreichischer Banken und Bankiers
            - '138'  # FR, CFONB (Comite francais d'organ. et de normalisation bancaires)
            - '139'  # Universal Postal Union (UPU)
            - '140'  # CEC (Commission of the European Communities), DG/XXI-01
            - '141'  # CEC (Commission of the European Communities), DG/XXI-B-1
            - '142'  # CEC (Commission of the European Communities), DG/XXXIV
            - '143'  # NZ, New Zealand Customs
            - '144'  # NL, Netherlands Customs
            - '145'  # SE, Swedish Customs
            - '146'  # DE, German Customs
            - '147'  # BE, Belgian Customs
            - '148'  # ES, Spanish Customs
            - '149'  # IL, Israel Customs
            - '150'  # HK, Hong Kong Customs
            - '151'  # JP, Japan Customs
            - '152'  # SA, Saudi Arabia Customs
            - '153'  # IT, Italian Customs
            - '154'  # GR, Greek Customs
            - '155'  # PT, Portuguese Customs
            - '156'  # LU, Luxembourg Customs
            - '157'  # NO, Norwegian Customs
            - '158'  # FI, Finnish Customs
            - '159'  # IS, Iceland Customs
            - '160'  # LI, Liechtenstein authority
            - '161'  # UNCTAD (United Nations - Conference on Trade And Development)
            - '162'  # CEC (Commission of the European Communities), DG/XIII-D-5
            - '163'  # US, FMC (Federal Maritime Commission)
            - '164'  # US, DEA (Drug Enforcement Agency)
            - '165'  # US, DCI (Distribution Codes, INC.)
            - '166'  # US, National Motor Freight Classification Association
            - '167'  # US, AIAG (Automotive Industry Action Group)
            - '168'  # US, FIPS (Federal Information Publishing Standard)
            - '169'  # CA, SCC (Standards Council of Canada)
            - '170'  # CA, CPA (Canadian Payment Association)
            - '171'  # NL, Interpay Girale Services
            - '172'  # NL, Interpay Debit Card Services
            - '173'  # NO, NORPRO
            - '174'  # DE, DIN (Deutsches Institut fuer Normung)
            - '175'  # FCI (Factors Chain International)
            - '176'  # BR, Banco Central do Brazil
            - '177'  # AU, LIFA (Life Insurance Federation of Australia)
            - '178'  # AU, SAA (Standards Association of Australia)
            - '179'  # US, Air transport association of America
            - '180'  # DE, BIA (Berufsgenossenschaftliches Institut fuer Arbeitssicherheit)
            - '181'  # Edibuild
            - '182'  # US, Standard Carrier Alpha Code (Motor)
            - '183'  # US, American Petroleum Institute
            - '184'  # AU, ACOS (Australian Chamber of Shipping)
            - '185'  # DE, BDI (Bundesverband der Deutschen Industrie e.V.)
            - '186'  # US, GSA (General Services Administration)
            - '187'  # US, DLMSO (Defense Logistics Management Standards Office)
            - '188'  # US, NIST (National Institute of Standards and Technology)
            - '189'  # US, DoD (Department of Defense)
            - '190'  # US, VA (Department of Veterans Affairs)
            - '191'  # IAPSO (United Nations Inter-Agency Procurement Services Office)
            - '192'  # Shipper's association
            - '193'  # EU, European Telecommunications Informatics Services (ETIS)
            - '194'  # AU, AQIS (Australian Quarantine and Inspection Service)
            - '195'  # CO, DIAN (Direccion de Impuestos y Aduanas Nacionales)
            - '196'  # US, COPAS (Council of Petroleum Accounting Society)
            - '197'  # US, DISA (Data Interchange Standards Association)
            - '198'  # CO, Superintendencia Bancaria De Colombia
            - '199'  # FR, Direction de la Comptabilite Publique
            - '200'  # GS1 Netherlands
            - '201'  # US, WSSA(Wine and Spirits Shippers Association)
            - '202'  # PT, Banco de Portugal
            - '203'  # FR, GALIA (Groupement pour l'Amelioration des Liaisons dans l'Industrie Automobile)
            - '204'  # DE, VDA (Verband der Automobilindustrie E.V.)
            - '205'  # IT, ODETTE Italy
            - '206'  # NL, ODETTE Netherlands
            - '207'  # ES, ODETTE Spain
            - '208'  # SE, ODETTE Sweden
            - '209'  # GB, ODETTE United Kingdom
            - '210'  # EU, EDI for financial, informational, cost, accounting, auditing and social areas (EDIFICAS) - Europe
            - '211'  # FR, EDI for financial, informational, cost, accounting, auditing and social areas (EDIFICAS) - France
            - '212'  # DE, Deutsch Telekom AG
            - '213'  # JP, NACCS Center (Nippon Automated Cargo Clearance System Operations Organization)
            - '214'  # US, AISI (American Iron and Steel Institute)
            - '215'  # AU, APCA (Australian Payments Clearing Association)
            - '216'  # US, Department of Labor
            - '217'  # US, N.A.I.C. (National Association of Insurance Commissioners)
            - '218'  # GB, The Association of British Insurers
            - '219'  # FR, d'ArvA
            - '220'  # FI, Finnish tax board
            - '221'  # FR, CNAMTS (Caisse Nationale de l'Assurance Maladie des Travailleurs Salaries)
            - '222'  # DK, Danish National Board of Health
            - '223'  # DK, Danish Ministry of Home Affairs
            - '224'  # US, Aluminum Association
            - '225'  # US, CIDX (Chemical Industry Data Exchange)
            - '226'  # US, Carbide Manufacturers
            - '227'  # US, NWDA (National Wholesale Druggist Association)
            - '228'  # US, EIA (Electronic Industry Association)
            - '229'  # US, American Paper Institute
            - '230'  # US, VICS (Voluntary Inter-Industry Commerce Standards)
            - '231'  # Copper and Brass Fabricators Council
            - '232'  # GB, Inland Revenue
            - '233'  # US, OMB (Office of Management and Budget)
            - '234'  # DE, Siemens AG
            - '235'  # AU, Tradegate (Electronic Commerce Australia)
            - '236'  # US, United States Postal Service (USPS)
            - '237'  # US, United States health industry
            - '238'  # US, TDCC (Transportation Data Coordinating Committee)
            - '239'  # US, HL7 (Health Level 7)
            - '240'  # US, CHIPS (Clearing House Interbank Payment Systems)
            - '241'  # PT, SIBS (Sociedade Interbancaria de Servicos)
            - '244'  # US, Department of Health and Human Services
            - '245'  # GS1 Denmark
            - '246'  # GS1 Germany
            - '247'  # US, HBICC (Health Industry Business Communication Council)
            - '248'  # US, ASTM (American Society of Testing and Materials)
            - '249'  # IP (Institute of Petroleum)
            - '250'  # US, UOP (Universal Oil Products)
            - '251'  # AU, HIC (Health Insurance Commission)
            - '252'  # AU, AIHW (Australian Institute of Health and Welfare)
            - '253'  # AU, NCCH (National Centre for Classification in Health)
            - '254'  # AU, DOH (Australian Department of Health)
            - '255'  # AU, ADA (Australian Dental Association)
            - '256'  # US, AAR (Association of American Railroads)
            - '257'  # ECCMA (Electronic Commerce Code Management Association)
            - '258'  # JP, Japanese Ministry of Transport
            - '259'  # JP, Japanese Maritime Safety Agency
            - '260'  # ebIX (European forum for energy Business Information eXchange)
            - '261'  # EEG7, European Expert Group 7 (Insurance)
            - '262'  # DE, GDV (Gesamtverband der Deutschen Versicherungswirtschaft e.V.)
            - '263'  # CA, CSIO (Centre for Study of Insurance Operations)
            - '264'  # FR, AGF (Assurances Generales de France)
            - '265'  # SE, Central bank
            - '266'  # US, DoA (Department of Agriculture)
            - '267'  # RU, Central Bank of Russia
            - '268'  # FR, DGI (Direction Generale des Impots)
            - '269'  # GRE (Reference Group of Experts)
            - '270'  # Concord EDI group
            - '271'  # InterContainer InterFrigo
            - '272'  # Joint Automotive Industry agency
            - '273'  # CH, SCC (Swiss Chambers of Commerce)
            - '274'  # ITIGG (International Transport Implementation Guidelines Group)
            - '275'  # ES, Banco de España
            - '276'  # Assigned by Port Community
            - '277'  # BIGNet (Business Information Group Network)
            - '278'  # Eurogate
            - '279'  # NL, Graydon
            - '280'  # FR, Euler
            - '281'  # GS1 Belgium and Luxembourg
            - '282'  # DE, Creditreform International e.V.
            - '283'  # DE, Hermes Kreditversicherungs AG
            - '284'  # TW, Taiwanese Bankers' Association
            - '285'  # ES, Asociación Española de Banca
            - '286'  # SE, TCO (Tjänstemännes Central Organisation)
            - '287'  # DE, FORTRAS (Forschungs- und Entwicklungsgesellschaft für Transportwesen GMBH)
            - '288'  # OSJD (Organizacija Sotrudnichestva Zeleznih Dorog)
            - '289'  # JP,JIPDEC/ECPC  (Japan Information Processing Development Center / Electronic Commerce Promotion Center)
            - '290'  # JP, JAMA
            - '291'  # JP, JAPIA
            - '292'  # FI, TIEKE The Information Technology Development Centre of Finland
            - '293'  # DE, BDEW (Bundesverband der Energie- und Wasserwirtschaft e.V.)
            - '294'  # GS1 Austria
            - '295'  # AU, Australian Therapeutic Goods Administration
            - '296'  # ITU (International Telecommunication Union)
            - '297'  # IT, Ufficio IVA
            - '298'  # GS1 Spain
            - '299'  # BE, Seagha
            - '300'  # SE, Swedish International Freight Association
            - '301'  # DE, BauDatenbank GmbH
            - '302'  # DE, Bundesverband des Deutschen Textileinzelhandels e.V.
            - '303'  # GB, Trade Service Information Ltd (TSI)
            - '304'  # DE, Bundesverband Deutscher Heimwerker-, Bau- und Gartenfachmaerkte e.V.
            - '305'  # ETSO (European Transmission System Operator)
            - '306'  # SMDG (Ship-planning Message Design Group)
            - '307'  # JP, Ministry of Justice
            - '309'  # JP, JASTPRO (Japan Association for Simplification of International Trade Procedures)
            - '310'  # DE, SAP AG (Systeme, Anwendungen und Produkte)
            - '311'  # JP, TDB (Teikoku Databank, Ltd.)
            - '312'  # FR, AGRO EDI EUROPE
            - '313'  # FR, Groupement National Interprofessionnel des Semences et Plants
            - '314'  # OAGi (Open Applications Group, Incorporated)
            - '315'  # US, STAR (Standards for Technology in Automotive Retail)
            - '316'  # GS1 Finland
            - '317'  # GS1 Brazil
            - '318'  # IETF (Internet Engineering Task Force)
            - '319'  # FR, GTF
            - '320'  # DK, Danish National IT and Telcom Agency (ITA)
            - '321'  # EASEE-Gas (European Association for the Streamlining of Energy Exchange for gas)
            - '322'  # IS, ICEPRO
            - '323'  # PROTECT
            - '324'  # GS1 Ireland
            - '325'  # GS1 Russia
            - '326'  # GS1 Poland
            - '327'  # GS1 Estonia
            - '328'  # Assigned by ultimate recipient of the message
            - '329'  # Assigned by loading dock operator
            - '330'  # Nordic Ediel Group
            - '331'  # US, Agricultural Marketing Service (AMS)
            - '332'  # DE, DVGW Service & Consult GmbH
            - '333'  # US, Animal and Plant Health Inspection Service (APHIS)
            - '334'  # US, Bureau of Labor Statistics (BLS)
            - '335'  # US, Bureau of Transportation Statistics (BTS)
            - '336'  # US, Customs and Border Protection (CBP)
            - '337'  # US, Center for Disease Control (CDC)
            - '338'  # US, Consumer Product Safety Commission (CPSC)
            - '339'  # US, Directorate of Defense Trade Controls (DDTC)
            - '340'  # US, Environmental Protection Agency (EPA)
            - '341'  # US, Federal Aviation Administration (FAA)
            - '342'  # US, Foreign Agriculture Service (FAS)
            - '343'  # US, Federal Motor Carrier Safety Administration (FMCSA)
            - '344'  # US, Food Safety Inspection Service (FSIS)
            - '345'  # US, Foreign Trade Zones Board (FTZB)
            - '346'  # US, The Grain Inspection, Packers and Stockyards Administration (GIPSA)
            - '347'  # US, Import Administration (IA)
            - '348'  # US, Internal Revenue Service (IRS)
            - '349'  # US, International Trade Commission (ITC)
            - '350'  # US, National Highway Traffic Safety Administration (NHTSA)
            - '351'  # US, National Marine Fisheries Service (NMFS)
            - '352'  # US, Office of Fossil Energy (OFE)
            - '353'  # US, Office of Foreign Missions (OFM)
            - '354'  # US, Bureau of Oceans and International Environmental and Scientific Affairs (OES)
            - '355'  # US, Office of Naval Intelligence (ONI)
            - '356'  # US, Pipeline and Hazardous Materials Safety Administration (PHMSA)
            - '357'  # US, Alcohol and Tobacco Tax and Trade Bureau (TTB)
            - '358'  # US, Army Corp of Engineers (USACE)
            - '359'  # US, Agency for International Development (USAID)
            - '360'  # US, Coast Guard (USCG)
            - '361'  # US, Office of the United States Trade Representative (USTR)
            - '362'  # International Commission for the Conservation of Atlantic Tunas (ICCAT)
            - '363'  # Inter-American Tropical Tuna Commission (IATTC)
            - '364'  # Commission for the Conservation of Southern Bluefin Tuna (CCSBT)
            - '365'  # Indian Ocean Tuna Commission (IOTC)
            - '366'  # International Botanical Congress
            - '367'  # International Commission on Zoological Nomenclature
            - '368'  # International Society for Horticulture Science
            - '369'  # Chemical Abstract Service (CAS)
            - '370'  # Social Security Administration (SSA)
            - '371'  # INMARSAT
            - '372'  # Agent of ship at the intended port of arrival
            - '373'  # US Air Force
            - '374'  # US, Bureau of Explosives
            - '375'  # Basel Convention Secretariat
            - '376'  # PANTONE
            - '377'  # IS, National Registry of Iceland
            - '378'  # IS, Internal Revenue Directorate of Iceland
            - '379'  # IANA (Internet Assigned Numbers Authority)
            - '380'  # Korea Customs Service
            - '381'  # Israel Tax Authority
            - '382'  # Israeli Ministry of Interior
            - '383'  # FR, LUMD (Logistique Urbaine Mutualisée Durable)
            - '384'  # DE, BiPRO (Brancheninitiative Prozessoptimierung)
            - '385'  # JO, Jordan Ministry of Agriculture
            - '386'  # JO, Jordan Customs
            - '387'  # JO, Jordan Food & Drug Administration
            - '388'  # JO, Jordan Institution for Standards and Metrology
            - '389'  # JO, Jordan Telecommunication Regulatory Commission
            - '390'  # JO, Jordan Nuclear Regulatory Commission
            - '391'  # JO, Jordan Ministry of Environment
            - '392'  # Hazardous waste collector
            - '393'  # Hazardous waste generator
            - '394'  # Marketing agent
            - '395'  # BE, TELEBIB Centre
            - '396'  # BE, BNB
            - '397'  # BE, FSMA
            - '398'  # FR, PHAST
            - '399'  # EXIS (Exis Technologies Ltd.)
            - '400'  # FAO (Food and Agriculture Organisation)
            - '401'  # CH, Spedlogswiss
            - '402'  # JP, National Tax Agency
            - '403'  # Comite Européen de Normalisation
            - '404'  # Assigned by logistics service provider
            - '405'  # Assigned by transport ministry
            - '406'  # AR, Customs Administration of Argentina
            - '407'  # BO, Customs Administration of Bolivia
            - '408'  # BR, Customs Administration of Brazil
            - '409'  # PY, Customs Administration of Paraguay
            - '410'  # UY, Customs Administration of Uruguay
            - '411'  # VE, Customs Administration of Venezuela
            - '412'  # IN, Customs Administration of India
            - '413'  # JP, JEC (UN/CEFACT Japan Committee)
            - ZZZ  # Mutually defined
          type: string
      required:
        - content
    Date:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    DateTime:
      type: object
      properties:
        content:
          type: string
        format:
          description: |
            Applicable codes:
            * '2' - DDMMYY
            * '3' - MMDDYY
            * '4' - DDMMCCYY
            * '5' - DDMMCCYYHHMM
            * '6' - CCYYMMB
            * '7' - CCYYMMW
            * '8' - CCYYMMDDS
            * '9' - CCYYMMDDPP
            * '10' - CCYYMMDDTHHMM
            * '101' - YYMMDD
            * '102' - CCYYMMDD
            * '103' - YYWWD
            * '104' - MMWW-MMWW
            * '105' - YYDDD
            * '106' - MMDD
            * '107' - DDD
            * '108' - WW
            * '109' - MM
            * '110' - DD
            * '201' - YYMMDDHHMM
            * '202' - YYMMDDHHMMSS
            * '203' - CCYYMMDDHHMM
            * '204' - CCYYMMDDHHMMSS
            * '205' - CCYYMMDDHHMMZHHMM
            * '206' - YYMMDDHHMMZHHMM
            * '207' - YYMMDDHHMMSSZHHMM
            * '208' - CCYYMMDDHHMMSSZHHMM
            * '209' - HHMMSSZHHMM
            * '210' - HHMMSSZHHMM-HHMMSSZHHMM
            * '301' - YYMMDDHHMMZZZ
            * '302' - YYMMDDHHMMSSZZZ
            * '303' - CCYYMMDDHHMMZZZ
            * '304' - CCYYMMDDHHMMSSZZZ
            * '305' - MMDDHHMM
            * '306' - DDHHMM
            * '307' - CCYYMMDDHHMMSSFFF
            * '308' - CCYYMMDDHHMMZZZ-CCYYMMDDHHMMZZZ
            * '401' - HHMM
            * '402' - HHMMSS
            * '404' - HHMMSSZZZ
            * '405' - MMMMSS
            * '406' - ZHHMM
            * '501' - HHMMHHMM
            * '502' - HHMMSS-HHMMSS
            * '503' - HHMMSSZZZ-HHMMSSZZZ
            * '600' - CC
            * '601' - YY
            * '602' - CCYY
            * '603' - YYS
            * '604' - CCYYS
            * '608' - CCYYQ
            * '609' - YYMM
            * '610' - CCYYMM
            * '613' - YYMMA
            * '614' - CCYYMMA
            * '615' - YYWW
            * '616' - CCYYWW
            * '701' - YY-YY
            * '702' - CCYY-CCYY
            * '703' - YYS-YYS
            * '704' - CCYYS-CCYYS
            * '705' - YYPYYP
            * '706' - CCYYP-CCYYP
            * '707' - YYQ-YYQ
            * '708' - CCYYQ-CCYYQ
            * '709' - YYMM-YYMM
            * '710' - CCYYMM-CCYYMM
            * '713' - YYMMDDHHMM-YYMMDDHHMM
            * '715' - YYWW-YYWW
            * '716' - CCYYWW-CCYYWW
            * '717' - YYMMDD-YYMMDD
            * '718' - CCYYMMDD-CCYYMMDD
            * '719' - CCYYMMDDHHMM-CCYYMMDDHHMM
            * '720' - DHHMM-DHHMM
            * '801' - Year
            * '802' - Month
            * '803' - Week
            * '804' - Day
            * '805' - Hour
            * '806' - Minute
            * '807' - Second
            * '808' - Semester
            * '809' - Four months period
            * '810' - Trimester
            * '811' - Half month
            * '812' - Ten days
            * '813' - Day of the week
            * '814' - Working days
          enum:
            - '2'  # DDMMYY
            - '3'  # MMDDYY
            - '4'  # DDMMCCYY
            - '5'  # DDMMCCYYHHMM
            - '6'  # CCYYMMB
            - '7'  # CCYYMMW
            - '8'  # CCYYMMDDS
            - '9'  # CCYYMMDDPP
            - '10'  # CCYYMMDDTHHMM
            - '101'  # YYMMDD
            - '102'  # CCYYMMDD
            - '103'  # YYWWD
            - '104'  # MMWW-MMWW
            - '105'  # YYDDD
            - '106'  # MMDD
            - '107'  # DDD
            - '108'  # WW
            - '109'  # MM
            - '110'  # DD
            - '201'  # YYMMDDHHMM
            - '202'  # YYMMDDHHMMSS
            - '203'  # CCYYMMDDHHMM
            - '204'  # CCYYMMDDHHMMSS
            - '205'  # CCYYMMDDHHMMZHHMM
            - '206'  # YYMMDDHHMMZHHMM
            - '207'  # YYMMDDHHMMSSZHHMM
            - '208'  # CCYYMMDDHHMMSSZHHMM
            - '209'  # HHMMSSZHHMM
            - '210'  # HHMMSSZHHMM-HHMMSSZHHMM
            - '301'  # YYMMDDHHMMZZZ
            - '302'  # YYMMDDHHMMSSZZZ
            - '303'  # CCYYMMDDHHMMZZZ
            - '304'  # CCYYMMDDHHMMSSZZZ
            - '305'  # MMDDHHMM
            - '306'  # DDHHMM
            - '307'  # CCYYMMDDHHMMSSFFF
            - '308'  # CCYYMMDDHHMMZZZ-CCYYMMDDHHMMZZZ
            - '401'  # HHMM
            - '402'  # HHMMSS
            - '404'  # HHMMSSZZZ
            - '405'  # MMMMSS
            - '406'  # ZHHMM
            - '501'  # HHMMHHMM
            - '502'  # HHMMSS-HHMMSS
            - '503'  # HHMMSSZZZ-HHMMSSZZZ
            - '600'  # CC
            - '601'  # YY
            - '602'  # CCYY
            - '603'  # YYS
            - '604'  # CCYYS
            - '608'  # CCYYQ
            - '609'  # YYMM
            - '610'  # CCYYMM
            - '613'  # YYMMA
            - '614'  # CCYYMMA
            - '615'  # YYWW
            - '616'  # CCYYWW
            - '701'  # YY-YY
            - '702'  # CCYY-CCYY
            - '703'  # YYS-YYS
            - '704'  # CCYYS-CCYYS
            - '705'  # YYPYYP
            - '706'  # CCYYP-CCYYP
            - '707'  # YYQ-YYQ
            - '708'  # CCYYQ-CCYYQ
            - '709'  # YYMM-YYMM
            - '710'  # CCYYMM-CCYYMM
            - '713'  # YYMMDDHHMM-YYMMDDHHMM
            - '715'  # YYWW-YYWW
            - '716'  # CCYYWW-CCYYWW
            - '717'  # YYMMDD-YYMMDD
            - '718'  # CCYYMMDD-CCYYMMDD
            - '719'  # CCYYMMDDHHMM-CCYYMMDDHHMM
            - '720'  # DHHMM-DHHMM
            - '801'  # Year
            - '802'  # Month
            - '803'  # Week
            - '804'  # Day
            - '805'  # Hour
            - '806'  # Minute
            - '807'  # Second
            - '808'  # Semester
            - '809'  # Four months period
            - '810'  # Trimester
            - '811'  # Half month
            - '812'  # Ten days
            - '813'  # Day of the week
            - '814'  # Working days
          type: string
      required:
        - content
    Errors:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'
        Detail:
          $ref: '#/components/schemas/Text_5'
        ErrorCode:
          $ref: '#/components/schemas/Code_2'
        ErrorSource:
          $ref: '#/components/schemas/ErrorSource'
    Identifier:
      type: object
      properties:
        content:
          type: string
        schemeID:
          type: string
      required:
        - content
    Identifier_2:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    Numeric:
      type: object
      properties:
        content:
          type: number
      required:
        - content
    PackageTypeCode:
      type: object
      properties:
        content:
          description: |
            Applicable codes:
            * '43' - Bag, super bulk
            * '44' - Bag, polybag
            * '1A' - Drum, steel
            * '1B' - Drum, aluminium
            * '1D' - Drum, plywood
            * '1F' - Container, flexible
            * '1G' - Drum, fibre
            * '1W' - Drum, wooden
            * '2C' - Barrel, wooden
            * '3A' - Jerrican, steel
            * '3H' - Jerrican, plastic
            * '4A' - Box, steel
            * '4B' - Box, aluminium
            * '4C' - Box, natural wood
            * '4D' - Box, plywood
            * '4F' - Box, reconstituted wood
            * '4G' - Box, fibreboard
            * '4H' - Box, plastic
            * '5H' - Bag, woven plastic
            * '5L' - Bag, textile
            * '5M' - Bag, paper
            * '6H' - Composite packaging, plastic receptacle
            * '6P' - Composite packaging, glass receptacle
            * '7A' - Case, car
            * '7B' - Case, wooden
            * '8A' - Pallet, wooden
            * '8B' - Crate, wooden
            * '8C' - Bundle, wooden
            * 'AA' - Intermediate bulk container, rigid plastic
            * 'AB' - Receptacle, fibre
            * 'AC' - Receptacle, paper
            * 'AD' - Receptacle, wooden
            * 'AE' - Aerosol
            * 'AF' - Pallet, modular, collars 80cms × 60cms
            * 'AG' - Pallet, shrinkwrapped
            * 'AH' - Pallet, 100cms × 110cms
            * 'AI' - Clamshell
            * 'AJ' - Cone
            * 'AL' - Ball
            * 'AM' - Ampoule, non-protected
            * 'AP' - Ampoule, protected
            * 'AT' - Atomizer
            * 'AV' - Capsule
            * 'B4' - Belt
            * 'BA' - Barrel
            * 'BB' - Bobbin
            * 'BC' - Bottlecrate / bottlerack
            * 'BD' - Board
            * 'BE' - Bundle
            * 'BF' - Balloon, non-protected
            * 'BG' - Bag
            * 'BH' - Bunch
            * 'BI' - Bin
            * 'BJ' - Bucket
            * 'BK' - Basket
            * 'BL' - Bale, compressed
            * 'BM' - Basin
            * 'BN' - Bale, non-compressed
            * 'BO' - Bottle, non-protected, cylindrical
            * 'BP' - Balloon, protected
            * 'BQ' - Bottle, protected cylindrical
            * 'BR' - Bar
            * 'BS' - Bottle, non-protected, bulbous
            * 'BT' - Bolt
            * 'BU' - Butt
            * 'BV' - Bottle, protected bulbous
            * 'BW' - Box, for liquids
            * 'BX' - Box
            * 'BY' - Board, in bundle/bunch/truss
            * 'BZ' - Bars, in bundle/bunch/truss
            * 'CA' - Can, rectangular
            * 'CB' - Crate, beer
            * 'CC' - Churn
            * 'CD' - Can, with handle and spout
            * 'CE' - Creel
            * 'CF' - Coffer
            * 'CG' - Cage
            * 'CH' - Chest
            * 'CI' - Canister
            * 'CJ' - Coffin
            * 'CK' - Cask
            * 'CL' - Coil
            * 'CM' - Card
            * 'CN' - Container, not otherwise specified as transport equipment
            * 'CO' - Carboy, non-protected
            * 'CP' - Carboy, protected
            * 'CQ' - Cartridge
            * 'CR' - Crate
            * 'CS' - Case
            * 'CT' - Carton
            * 'CU' - Cup
            * 'CV' - Cover
            * 'CW' - Cage, roll
            * 'CX' - Can, cylindrical
            * 'CY' - Cylinder
            * 'CZ' - Canvas
            * 'DA' - Crate, multiple layer, plastic
            * 'DB' - Crate, multiple layer, wooden
            * 'DC' - Crate, multiple layer, cardboard
            * 'DG' - Cage, Commonwealth Handling Equipment Pool  (CHEP)
            * 'DH' - Box, Commonwealth Handling Equipment Pool (CHEP), Eurobox
            * 'DI' - Drum, iron
            * 'DJ' - Demijohn, non-protected
            * 'DK' - Crate, bulk, cardboard
            * 'DL' - Crate, bulk, plastic
            * 'DM' - Crate, bulk, wooden
            * 'DN' - Dispenser
            * 'DP' - Demijohn, protected
            * 'DR' - Drum
            * 'DS' - Tray, one layer no cover, plastic
            * 'DT' - Tray, one layer no cover, wooden
            * 'DU' - Tray, one layer no cover, polystyrene
            * 'DV' - Tray, one layer no cover, cardboard
            * 'DW' - Tray, two layers no cover, plastic tray
            * 'DX' - Tray, two layers no cover, wooden
            * 'DY' - Tray, two layers no cover, cardboard
            * 'EC' - Bag, plastic
            * 'ED' - Case, with pallet base
            * 'EE' - Case, with pallet base, wooden
            * 'EF' - Case, with pallet base, cardboard
            * 'EG' - Case, with pallet base, plastic
            * 'EH' - Case, with pallet base, metal
            * 'EI' - Case, isothermic
            * 'EN' - Envelope
            * 'FB' - Flexibag
            * 'FC' - Crate, fruit
            * 'FD' - Crate, framed
            * 'FE' - Flexitank
            * 'FI' - Firkin
            * 'FL' - Flask
            * 'FO' - Footlocker
            * 'FP' - Filmpack
            * 'FR' - Frame
            * 'FT' - Foodtainer
            * 'FW' - Cart, flatbed
            * 'FX' - Bag, flexible container
            * 'GB' - Bottle, gas
            * 'GI' - Girder
            * 'GL' - Container, gallon
            * 'GR' - Receptacle, glass
            * 'GU' - Tray, containing horizontally stacked flat items
            * 'GY' - Bag, gunny
            * 'GZ' - Girders, in bundle/bunch/truss
            * 'HA' - Basket, with handle, plastic
            * 'HB' - Basket, with handle, wooden
            * 'HC' - Basket, with handle, cardboard
            * 'HG' - Hogshead
            * 'HN' - Hanger
            * 'HR' - Hamper
            * 'IA' - Package, display, wooden
            * 'IB' - Package, display, cardboard
            * 'IC' - Package, display, plastic
            * 'ID' - Package, display, metal
            * 'IE' - Package, show
            * 'IF' - Package, flow
            * 'IG' - Package, paper wrapped
            * 'IH' - Drum, plastic
            * 'IK' - Package, cardboard, with bottle grip-holes
            * 'IL' - Tray, rigid, lidded stackable (CEN TS 14482:2002)
            * 'IN' - Ingot
            * 'IZ' - Ingots, in bundle/bunch/truss
            * 'JB' - Bag, jumbo
            * 'JC' - Jerrican, rectangular
            * 'JG' - Jug
            * 'JR' - Jar
            * 'JT' - Jutebag
            * 'JY' - Jerrican, cylindrical
            * 'KG' - Keg
            * 'KI' - Kit
            * 'LE' - Luggage
            * 'LG' - Log
            * 'LT' - Lot
            * 'LU' - Lug
            * 'LV' - Liftvan
            * 'LZ' - Logs, in bundle/bunch/truss
            * 'MA' - Crate, metal
            * 'MB' - Bag, multiply
            * 'MC' - Crate, milk
            * 'ME' - Container, metal
            * 'MR' - Receptacle, metal
            * 'MS' - Sack, multi-wall
            * 'MT' - Mat
            * 'MW' - Receptacle, plastic wrapped
            * 'MX' - Matchbox
            * 'NA' - Not available
            * 'NE' - Unpacked or unpackaged
            * 'NF' - Unpacked or unpackaged, single unit
            * 'NG' - Unpacked or unpackaged, multiple units
            * 'NS' - Nest
            * 'NT' - Net
            * 'NU' - Net, tube, plastic
            * 'NV' - Net, tube, textile
            * 'O1' - Two sided cage on wheels with fixing strap
            * 'O2' - Trolley
            * 'O3' - Oneway pallet ISO 0 - 1/2 EURO Pallet
            * 'O4' - Oneway pallet ISO 1 - 1/1 EURO Pallet
            * 'O5' - Oneway pallet ISO 2 - 2/1 EURO Pallet
            * 'O6' - Pallet with exceptional dimensions
            * 'OA' - Pallet, CHEP 40 cm x 60 cm
            * 'OB' - Pallet, CHEP 80 cm x 120 cm
            * 'OC' - Pallet, CHEP 100 cm x 120 cm
            * 'OD' - Pallet, AS 4068-1993
            * 'OE' - Pallet, ISO T11
            * 'OF' - Platform, unspecified weight or dimension
            * 'OG' - Pallet ISO 0 - 1/2 EURO Pallet
            * 'OH' - Pallet ISO 1 - 1/1 EURO Pallet
            * 'OI' - Pallet ISO 2 - 2/1 EURO Pallet
            * 'OJ' - 1/4 EURO Pallet
            * 'OK' - Block
            * 'OL' - 1/8 EURO Pallet
            * 'OM' - Synthetic pallet ISO 1
            * 'ON' - Synthetic pallet ISO 2
            * 'OP' - Wholesaler pallet
            * 'OQ' - Pallet 80 X 100 cm
            * 'OR' - Pallet 60 X 100 cm
            * 'OS' - Oneway pallet
            * 'OT' - Octabin
            * 'OU' - Container, outer
            * 'OV' - Returnable pallet
            * 'OW' - Large bag, pallet sized
            * 'OX' - A wheeled pallet with raised rim (81 x 67 x 135)
            * 'OY' - A wheeled pallet with raised rim (81 x 72 x 135)
            * 'OZ' - A wheeled pallet with raised rim (81 x 60 x 16)
            * 'P2' - Pan
            * 'PA' - Packet
            * 'PB' - Pallet, box
            * 'PC' - Parcel
            * 'PD' - Pallet, modular, collars 80cms * 100cms
            * 'PE' - Pallet, modular, collars 80cms * 120cms
            * 'PF' - Pen
            * 'PG' - Plate
            * 'PH' - Pitcher
            * 'PI' - Pipe
            * 'PJ' - Punnet
            * 'PK' - Package
            * 'PL' - Pail
            * 'PN' - Plank
            * 'PO' - Pouch
            * 'PP' - Piece
            * 'PR' - Receptacle, plastic
            * 'PT' - Pot
            * 'PU' - Tray pack
            * 'PV' - Pipes, in bundle/bunch/truss
            * 'PX' - Pallet
            * 'PY' - Plates, in bundle/bunch/truss
            * 'PZ' - Planks, in bundle/bunch/truss
            * 'QA' - Drum, steel, non-removable head
            * 'QB' - Drum, steel, removable head
            * 'QC' - Drum, aluminium, non-removable head
            * 'QD' - Drum, aluminium, removable head
            * 'QF' - Drum, plastic, non-removable head
            * 'QG' - Drum, plastic, removable head
            * 'QH' - Barrel, wooden, bung type
            * 'QJ' - Barrel, wooden, removable head
            * 'QK' - Jerrican, steel, non-removable head
            * 'QL' - Jerrican, steel, removable head
            * 'QM' - Jerrican, plastic, non-removable head
            * 'QN' - Jerrican, plastic, removable head
            * 'QP' - Box, wooden, natural wood, ordinary
            * 'QQ' - Box, wooden, natural wood, with sift proof walls
            * 'QR' - Box, plastic, expanded
            * 'QS' - Box, plastic, solid
            * 'RD' - Rod
            * 'RG' - Ring
            * 'RJ' - Rack, clothing hanger
            * 'RK' - Rack
            * 'RL' - Reel
            * 'RO' - Roll
            * 'RT' - Rednet
            * 'RZ' - Rods, in bundle/bunch/truss
            * 'SA' - Sack
            * 'SB' - Slab
            * 'SC' - Crate, shallow
            * 'SD' - Spindle
            * 'SE' - Sea-chest
            * 'SH' - Sachet
            * 'SI' - Skid
            * 'SK' - Case, skeleton
            * 'SL' - Slipsheet
            * 'SM' - Sheetmetal
            * 'SO' - Spool
            * 'SP' - Sheet, plastic wrapping
            * 'SS' - Case, steel
            * 'ST' - Sheet
            * 'SU' - Suitcase
            * 'SV' - Envelope, steel
            * 'SW' - Shrinkwrapped
            * 'SY' - Sleeve
            * 'SZ' - Sheets, in bundle/bunch/truss
            * 'T1' - Tablet
            * 'TB' - Tub
            * 'TC' - Tea-chest
            * 'TD' - Tube, collapsible
            * 'TE' - Tyre
            * 'TG' - Tank container, generic
            * 'TI' - Tierce TI
            * 'TK' - Tank, rectangular
            * 'TL' - Tub, with lid
            * 'TN' - Tin
            * 'TO' - Tun
            * 'TR' - Trunk
            * 'TS' - Truss
            * 'TT' - Bag, tote
            * 'TU' - Tube
            * 'TV' - Tube, with nozzle
            * 'TW' - Pallet, triwall
            * 'TY' - Tank, cylindrical
            * 'TZ' - Tubes, in bundle/bunch/truss
            * 'UC' - Uncaged
            * 'UN' - Unit
            * 'VA' - Vat
            * 'VG' - Bulk, gas (at 1031 mbar and 15 degree C)
            * 'VI' - Vial
            * 'VK' - Vanpack
            * 'VL' - Bulk, liquid
            * 'VN' - Vehicle
            * 'VO' - Bulk, solid, large particles ("nodules")
            * 'VP' - Vacuum-packed
            * 'VQ' - Bulk, liquefied gas (at abnormal temperature/pressure)
            * 'VR' - Bulk, solid, granular particles ("grains")
            * 'VS' - Bulk, scrap metal
            * 'VY' - Bulk, solid, fine particles ("powders")
            * 'WA' - Intermediate bulk container
            * 'WB' - Wickerbottle
            * 'WC' - Intermediate bulk container, steel
            * 'WD' - Intermediate bulk container, aluminium
            * 'WF' - Intermediate bulk container, metal
            * 'WG' - Intermediate bulk container, steel, pressurised > 10 kpa
            * 'WH' - Intermediate bulk container, aluminium, pressurised > 10 kpa
            * 'WJ' - Intermediate bulk container, metal, pressure 10 kpa
            * 'WK' - Intermediate bulk container, steel, liquid
            * 'WL' - Intermediate bulk container, aluminium, liquid
            * 'WM' - Intermediate bulk container, metal, liquid
            * 'WN' - Intermediate bulk container, woven plastic, without coat/liner
            * 'WP' - Intermediate bulk container, woven plastic, coated
            * 'WQ' - Intermediate bulk container, woven plastic, with liner
            * 'WR' - Intermediate bulk container, woven plastic, coated and liner
            * 'WS' - Intermediate bulk container, plastic film
            * 'WT' - Intermediate bulk container, textile with out coat/liner
            * 'WU' - Intermediate bulk container, natural wood, with inner liner
            * 'WV' - Intermediate bulk container, textile, coated
            * 'WW' - Intermediate bulk container, textile, with liner
            * 'WX' - Intermediate bulk container, textile, coated and liner
            * 'WY' - Intermediate bulk container, plywood, with inner liner
            * 'WZ' - Intermediate bulk container, reconstituted wood, with inner liner
            * 'XA' - Bag, woven plastic, without inner coat/liner
            * 'XB' - Bag, woven plastic, sift proof
            * 'XC' - Bag, woven plastic, water resistant
            * 'XD' - Bag, plastics film
            * 'XF' - Bag, textile, without inner coat/liner
            * 'XG' - Bag, textile, sift proof
            * 'XH' - Bag, textile, water resistant
            * 'XJ' - Bag, paper, multi-wall
            * 'XK' - Bag, paper, multi-wall, water resistant
            * 'YA' - Composite packaging, plastic receptacle in steel drum
            * 'YB' - Composite packaging, plastic receptacle in steel crate box
            * 'YC' - Composite packaging, plastic receptacle in aluminium drum
            * 'YD' - Composite packaging, plastic receptacle in aluminium crate
            * 'YF' - Composite packaging, plastic receptacle in wooden box
            * 'YG' - Composite packaging, plastic receptacle in plywood drum
            * 'YH' - Composite packaging, plastic receptacle in plywood box
            * 'YJ' - Composite packaging, plastic receptacle in fibre drum
            * 'YK' - Composite packaging, plastic receptacle in fibreboard box
            * 'YL' - Composite packaging, plastic receptacle in plastic drum
            * 'YM' - Composite packaging, plastic receptacle in solid plastic box
            * 'YN' - Composite packaging, glass receptacle in steel drum
            * 'YP' - Composite packaging, glass receptacle in steel crate box
            * 'YQ' - Composite packaging, glass receptacle in aluminium drum
            * 'YR' - Composite packaging, glass receptacle in aluminium crate
            * 'YS' - Composite packaging, glass receptacle in wooden box
            * 'YT' - Composite packaging, glass receptacle in plywood drum
            * 'YV' - Composite packaging, glass receptacle in wickerwork hamper
            * 'YW' - Composite packaging, glass receptacle in fibre drum
            * 'YX' - Composite packaging, glass receptacle in fibreboard box
            * 'YY' - Composite packaging, glass receptacle in expandable plastic pack
            * 'YZ' - Composite packaging, glass receptacle in solid plastic pack
            * 'ZA' - Intermediate bulk container, paper, multi-wall
            * 'ZB' - Bag, large
            * 'ZC' - Intermediate bulk container, paper, multi-wall, water resistant
            * 'ZD' - Intermediate bulk container, rigid plastic, with structural equipment, solids
            * 'ZF' - Intermediate bulk container, rigid plastic, freestanding, solids
            * 'ZG' - Intermediate bulk container, rigid plastic, with structural equipment, pressurised
            * 'ZH' - Intermediate bulk container, rigid plastic, freestanding, pressurised
            * 'ZJ' - Intermediate bulk container, rigid plastic, with structural equipment, liquids
            * 'ZK' - Intermediate bulk container, rigid plastic, freestanding, liquids
            * 'ZL' - Intermediate bulk container, composite, rigid plastic, solids
            * 'ZM' - Intermediate bulk container, composite, flexible plastic, solids
            * 'ZN' - Intermediate bulk container, composite, rigid plastic, pressurised
            * 'ZP' - Intermediate bulk container, composite, flexible plastic, pressurised
            * 'ZQ' - Intermediate bulk container, composite, rigid plastic, liquids
            * 'ZR' - Intermediate bulk container, composite, flexible plastic, liquids
            * 'ZS' - Intermediate bulk container, composite
            * 'ZT' - Intermediate bulk container, fibreboard
            * 'ZU' - Intermediate bulk container, flexible
            * 'ZV' - Intermediate bulk container, metal, other than steel
            * 'ZW' - Intermediate bulk container, natural wood
            * 'ZX' - Intermediate bulk container, plywood
            * 'ZY' - Intermediate bulk container, reconstituted wood
            * 'ZZ' - Mutually defined
          enum:
            - '43'  # Bag, super bulk
            - '44'  # Bag, polybag
            - 1A  # Drum, steel
            - 1B  # Drum, aluminium
            - 1D  # Drum, plywood
            - 1F  # Container, flexible
            - 1G  # Drum, fibre
            - 1W  # Drum, wooden
            - 2C  # Barrel, wooden
            - 3A  # Jerrican, steel
            - 3H  # Jerrican, plastic
            - 4A  # Box, steel
            - 4B  # Box, aluminium
            - 4C  # Box, natural wood
            - 4D  # Box, plywood
            - 4F  # Box, reconstituted wood
            - 4G  # Box, fibreboard
            - 4H  # Box, plastic
            - 5H  # Bag, woven plastic
            - 5L  # Bag, textile
            - 5M  # Bag, paper
            - 6H  # Composite packaging, plastic receptacle
            - 6P  # Composite packaging, glass receptacle
            - 7A  # Case, car
            - 7B  # Case, wooden
            - 8A  # Pallet, wooden
            - 8B  # Crate, wooden
            - 8C  # Bundle, wooden
            - AA  # Intermediate bulk container, rigid plastic
            - AB  # Receptacle, fibre
            - AC  # Receptacle, paper
            - AD  # Receptacle, wooden
            - AE  # Aerosol
            - AF  # Pallet, modular, collars 80cms × 60cms
            - AG  # Pallet, shrinkwrapped
            - AH  # Pallet, 100cms × 110cms
            - AI  # Clamshell
            - AJ  # Cone
            - AL  # Ball
            - AM  # Ampoule, non-protected
            - AP  # Ampoule, protected
            - AT  # Atomizer
            - AV  # Capsule
            - B4  # Belt
            - BA  # Barrel
            - BB  # Bobbin
            - BC  # Bottlecrate / bottlerack
            - BD  # Board
            - BE  # Bundle
            - BF  # Balloon, non-protected
            - BG  # Bag
            - BH  # Bunch
            - BI  # Bin
            - BJ  # Bucket
            - BK  # Basket
            - BL  # Bale, compressed
            - BM  # Basin
            - BN  # Bale, non-compressed
            - BO  # Bottle, non-protected, cylindrical
            - BP  # Balloon, protected
            - BQ  # Bottle, protected cylindrical
            - BR  # Bar
            - BS  # Bottle, non-protected, bulbous
            - BT  # Bolt
            - BU  # Butt
            - BV  # Bottle, protected bulbous
            - BW  # Box, for liquids
            - BX  # Box
            - BY  # Board, in bundle/bunch/truss
            - BZ  # Bars, in bundle/bunch/truss
            - CA  # Can, rectangular
            - CB  # Crate, beer
            - CC  # Churn
            - CD  # Can, with handle and spout
            - CE  # Creel
            - CF  # Coffer
            - CG  # Cage
            - CH  # Chest
            - CI  # Canister
            - CJ  # Coffin
            - CK  # Cask
            - CL  # Coil
            - CM  # Card
            - CN  # Container, not otherwise specified as transport equipment
            - CO  # Carboy, non-protected
            - CP  # Carboy, protected
            - CQ  # Cartridge
            - CR  # Crate
            - CS  # Case
            - CT  # Carton
            - CU  # Cup
            - CV  # Cover
            - CW  # Cage, roll
            - CX  # Can, cylindrical
            - CY  # Cylinder
            - CZ  # Canvas
            - DA  # Crate, multiple layer, plastic
            - DB  # Crate, multiple layer, wooden
            - DC  # Crate, multiple layer, cardboard
            - DG  # Cage, Commonwealth Handling Equipment Pool  (CHEP)
            - DH  # Box, Commonwealth Handling Equipment Pool (CHEP), Eurobox
            - DI  # Drum, iron
            - DJ  # Demijohn, non-protected
            - DK  # Crate, bulk, cardboard
            - DL  # Crate, bulk, plastic
            - DM  # Crate, bulk, wooden
            - DN  # Dispenser
            - DP  # Demijohn, protected
            - DR  # Drum
            - DS  # Tray, one layer no cover, plastic
            - DT  # Tray, one layer no cover, wooden
            - DU  # Tray, one layer no cover, polystyrene
            - DV  # Tray, one layer no cover, cardboard
            - DW  # Tray, two layers no cover, plastic tray
            - DX  # Tray, two layers no cover, wooden
            - DY  # Tray, two layers no cover, cardboard
            - EC  # Bag, plastic
            - ED  # Case, with pallet base
            - EE  # Case, with pallet base, wooden
            - EF  # Case, with pallet base, cardboard
            - EG  # Case, with pallet base, plastic
            - EH  # Case, with pallet base, metal
            - EI  # Case, isothermic
            - EN  # Envelope
[...]
